body {
    background-image: url('./../img/bg-pattern.jpg');
}

.center {
    width: 960px;
    margin: 0 auto;
}

.inner {
    width: 920px;
    padding: 20px;
    background:#ffffff;
}

#level {
    float: left;
    width: 100%;
    height: 40px;
    font-size:30px;
}

canvas {
    margin:10px;
    background:#a8eda8;
}
